<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solar Power Generation Prediction</title>
    <center><h1>Solar Power Generation Prediction</h1>
</head>
<body bgcolor="yellow">

<form action="/predict" method="post">
  <h2></h2>City:<br>
  <input type="text" placeholder = "Sangli" name='city'><br>
  Panel Wattage:<br>
  <input  name='Panel_Wattage' placeholder = "250 W" ><br><br>
<input type="submit" value="Calculate">
</form>
<h3>{{info}}</h3>

</body>
</html>
